* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: plum;
    color: rgb(rgb(160, 64, 64), rgb(89, 146, 89), rgb(58, 58, 126))
    }
    header{
        text-align: center;
    }
    .navbar {
        background-color: blue;
        padding: 15px 0;
    }
    .navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    .nav-links li{
        display: inline-block;
        position: relative;
    }


    .nav-links li a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
    }

    /*underline effect*/
    .nav-links li a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;  
        width: 0;height: 2px;
        background: black;
        transition: width 0.4s ease, left 0.4s ease;
    }

    /*Hover effect*/
    .nav-links li a:hover::after{
        width: 100%;
        left: 0;
    }
    /*Styling logo*/

    .logo {
        font-size: 24px;
        color: rgb(249, 10, 170);
        font-weight: bold;
        text-decoration: none;
    }
    /*Styling table*/
    table{
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    /*Styling table header*/
    th, td {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
    }

    th {
        background: #007bff;
        color: white;
    }
    /*styling form*/
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    input, textarea ,select {
        padding: 10px;/*padding adds space inside a  container*/
        border: 1px solid #ccc;
        border-radius: 4px;/*round corners of an input field*/
        width: 50%;
    }
    .radio-group, .checkbox-group {
        display: flex;
        gap: 5px;
    }
    button {
        padding: 8px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        width: 20%;
    }
    
    button:hover {
        background: rgb(235, 65 ,68);

    }
    footer {
        text-align: center;
        background: #007bff;
        color: white;
        padding: 10px;
    }
